* @dequelabs/mobile

*/test/*/android/AxeText.java @dequelabs/mobileadmin
*/test/*/android/AxeViewTest.java @dequelabs/mobileadmin
*/test/*/android/wrappers/AxeViewBuilder.java @dequelabs/mobileadmin
*/test/resources/api_test_spec/* @dequelabs/mobileadmin